@page "/owner/{OwnerId:guid}"

<PageTitle>Edit Pet Owner</PageTitle>
<h3>Edit Pet Owner</h3>

<tabel id="inner" class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>PetOwner Id</th>
            <th>PetOwner Name</th>
            <th>PetOwner Surname</th>
            <th>PetOwner Birthdate</th>
            <th>PetOwner Gender</th>
            <th>PetOwner Address</th>
            <th>PetOwner Email</th>
            <th>PetOwner Phone</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@OwnerId</td>
            <td>@PetOwnerOld.Name</td>
            <td>@PetOwnerOld.Surname</td>
            <td>@PetOwnerOld.Birthdate</td>
            <td>@PetOwnerOld.Gender</td>
            <td>@PetOwnerOld.Address</td>
            <td>@PetOwnerOld.Email</td>
            <td>@PetOwnerOld.Phone</td>
        </tr>
    </tbody>
</tabel>

<EditForm class="container" Model="PetOwnerToUpdate" OnValidSubmit="UpdatePetOwner">
    <FluentValidationValidator />
    <div class="form-group">
        <label>Pet Owner Name</label>
        <InputText id="name" @bind-Value="PetOwnerToUpdate.Name" placeholder="Pet Owner Name" class="form-control" />
        <ValidationMessage For="@(() => PetOwnerToUpdate.Name)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Pet Owner Surname</label>
        <InputText id="surname" @bind-Value="PetOwnerToUpdate.Surname" placeholder="Pet Owner Surname" class="form-control" />
        <ValidationMessage For="@(() => PetOwnerToUpdate.Surname)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="birthdate">Pet Birthdate</label>
        <DateInput @bind-Value="@PetOwnerToUpdate.Birthdate" class="form-control"></DateInput>
        <ValidationMessage For="@(() => PetOwnerToUpdate.Birthdate)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="gender">Pet Owner Gender</label><br />
        <input type="radio" name="gender" id="gender" checked="@(PetOwnerToUpdate.Gender == "Male")" @onchange="@(() => PetOwnerToUpdate.Gender = "Male")" />
        Male
        <input type="radio" name="gender" id="gender" checked="@(PetOwnerToUpdate.Gender == "Female")" @onchange="@(() => PetOwnerToUpdate.Gender = "Female")" />
        Female
        <input type="radio" name="gender" id="gender" checked="@(PetOwnerToUpdate.Gender == "Other")" @onchange="@(() => PetOwnerToUpdate.Gender = "Other")" />
        Other
        <ValidationMessage For="@(() => PetOwnerToUpdate.Gender)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Pet Owner Address</label>
        <InputText id="address" @bind-Value="PetOwnerToUpdate.Address" placeholder="Pet Owner Address" class="form-control" />
        <ValidationMessage For="@(() => PetOwnerToUpdate.Address)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Pet Owner Email</label>
        <InputText id="email" @bind-Value="PetOwnerToUpdate.Email" placeholder="Pet Owner Email" class="form-control" />
        <ValidationMessage For="@(() => PetOwnerToUpdate.Email)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Pet Owner Phone</label>
        <InputText id="phone" @bind-Value="PetOwnerToUpdate.Phone" placeholder="Pet Owner Phone" class="form-control" />
        <ValidationMessage For="@(() => PetOwnerToUpdate.Phone)"></ValidationMessage>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</EditForm>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateBack">Cancel and back</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateToPets">Pets</button>
    </div>
</div>