@page "/petownersoverview"

<style>
    th, td {
        vertical-align: middle;
        text-align: center
    }

    tbody > tr:hover > td {
        color: #000;
        background-color: #E2E3E5;
        border-color: #E2E3E5
    }
</style>

<h2 class="title-transition">Pet Owners Overview</h2>
@if (PetOwners == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>PetOwner Id</th>
                <th>PetOwner Name</th>
                <th>PetOwner Surname</th>
                <th>PetOwner Birthdate</th>
                <th>PetOwner Gender</th>
                <th>PetOwner Address</th>
                <th>PetOwner Email</th>
                <th>PetOwner Phone</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var petOwner in PetOwners)
            {
                <tr>
                    <td>@petOwner.Id</td>
                    <td>@petOwner.Name</td>
                    <td>@petOwner.Surname</td>
                    <td>@petOwner.Birthdate</td>
                    <td>@petOwner.Gender</td>
                    <td>@petOwner.Address</td>
                    <td>@petOwner.Email</td>
                    <td>@petOwner.Phone</td>
                </tr>
            }
        </tbody>
    </tabel>
}
