@page "/vetsoverview"
<h2>Vets Overview</h2>
@if (Vets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light">
        <thead class="table-primary">
        <th>Vet Id</th>
        <th>Vet Name</th>
        <th>Vet Surname</th>
        <th>Vet Birthdate</th>
        <th>Vet Gender</th>
        <th>Vet Email</th>
        <th>Vet Phone</th>
        <th>Vet Specialisation</th>
        </thead>
        <tbody>
            @foreach (var vet in Vets)
            {
                <tr>
                    <td>@vet.Id</td>
                    <td>@vet.Name</td>
                    <td>@vet.Surname</td>
                    <td>@vet.Birthdate</td>
                    <td>@vet.Gender</td>
                    <td>@vet.Email</td>
                    <td>@vet.Phone</td>
                    <td>@vet.Specialisation</td>
                </tr>
            }
        </tbody>
    </tabel>
}
