@page "/clinic/{ClinicId:guid}/appointments"

<PageTitle>Appointments</PageTitle>

<style>
    th, td {
        vertical-align: middle;
        text-align: center
    }

    tbody > tr:hover > td {
        color: #000;
        background-color: #E2E3E5;
        border-color: #E2E3E5
    }

    #inner {
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .space-top {
        padding-top: 20px;
    }

    .space-botton {
        padding-bottom: 20px;
    }

    .label-space-top {
        padding-top: 10px;
    }

</style>

@if (AppointmentsToGet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel id="inner" class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Appointment Id</th>
                <th>Appointment VetId</th>
                <th>Appointment PetId</th>
                <th>Appointment ScheduledDate</th>
                <th>Appointment EstimatedDurationInMinutes</th>
                <th>Appointment TreatmentId</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in AppointmentsToGet)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.VetId</td>
                    <td>@appointment.PetId</td>
                    <td>@DateTime.Parse(appointment.ScheduledDate).ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@appointment.EstimatedDurationInMinutes</td>
                    <td>@appointment.TreatmentId</td>
                    <td><button type="button" class="btn btn-info" @onclick="(() => NavigateToEditPage(appointment.Id))">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" @onclick="(() => DeleteAppointment(appointment.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}

<h3>Add Appointments to Clinic</h3>

@if (VetIds == null)
{
    <p><em>Loading data...</em></p>
}
else
{
    <EditForm class="container" Model="Appointment" OnValidSubmit="AddAppointment">
        <FluentValidationValidator />
        <div class="form-group">
            <label class="label-space-top">Vet ID</label>
            <DropDownList DataSource="VetIds" @bind-SelectedValues="Appointment.VetId" />
            <ValidationMessage For="@(() => Appointment.VetId)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label class="label-space-top">Pet ID</label>
            <DropDownList DataSource="PetIds" @bind-SelectedValues="Appointment.PetId" />
            <ValidationMessage For="@(() => Appointment.PetId)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="date" class="label-space-top">Scheduled Date</label>
            <DateTimePicker @bind-Value="@Appointment.ScheduledDate" DropDownPosition="DropDownPosition.Bottom" CalendarButton="true" class="form-control"></DateTimePicker>
            <ValidationMessage For="@(() => Appointment.ScheduledDate)"></ValidationMessage>
        </div>
        <div>
            <label for="duration" class="label-space-top">Duration</label>
            <InputNumber id="duration" @bind-Value="Appointment.EstimatedDurationInMinutes" placeholder="Duration" class="form-control" />
            <ValidationMessage For="@(() => Appointment.EstimatedDurationInMinutes)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label class="label-space-top">Treatment ID</label>
            <DropDownList DataSource="TreatmentIds" @bind-SelectedValues="Appointment.TreatmentId" />
            <ValidationMessage For="@(() => Appointment.TreatmentId)"></ValidationMessage>
        </div>
        <div class="row space-top space-botton">
            <div class="col">
                <button type="submit" class="btn btn-success">Create</button><br />
            </div>
        </div>
    </EditForm>
}

<div class="row space-top space-botton">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateBack">Cancel and back</button>
    </div>
</div>