@page "/clinic/{ClinicId:guid}/medicalhistory"

<PageTitle>Medical History</PageTitle>

@if (MedicalHistories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel id="inner" class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Appointment Id</th>
                <th>Appointment VetId</th>
                <th>Appointment PetId</th>
                <th>Appointment ScheduledDate</th>
                <th>Appointment EstimatedDurationInMinutes</th>
                <th>Appointment TreatmentId</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in MedicalHistories)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.VetId</td>
                    <td>@appointment.PetId</td>
                    <td>@DateTime.Parse(appointment.ScheduledDate).ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@appointment.EstimatedDurationInMinutes</td>
                    <td>@appointment.TreatmentId</td>
                    <td><button type="button" class="btn btn-danger" @onclick="(() => DeleteAppointment(appointment.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateBack">Back</button>
    </div>
</div>