@page "/clinic/{ClinicId:guid}/vets"

<style>

    th, td {
        vertical-align: middle;
        text-align: center
    }

    .inner {
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .buttons {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }

    .space-top {
        padding-top: 20px;
    }

    .space-bottom {
        padding-bottom: 20px;
    }

    .label-space-top {
        padding-top: 10px;
    }

</style>

<PageTitle>Vets</PageTitle>

@if (VetsToGet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light inner">
        <thead class="table-primary">
            <tr>
                <th>Vet Id</th>
                <th>Vet Name</th>
                <th>Vet Surname</th>
                <th>Vet Birthdate</th>
                <th>Vet Gender</th>
                <th>Vet Email</th>
                <th>Vet Phone</th>
                <th>Vet Specialisation</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vet in VetsToGet)
            {
                <tr>
                    <td>@vet.Id</td>
                    <td>@vet.Name</td>
                    <td>@vet.Surname</td>
                    <td>@vet.Birthdate</td>
                    <td>@vet.Gender</td>
                    <td>@vet.Email</td>
                    <td>@vet.Phone</td>
                    <td>@vet.Specialisation</td>
                    <td><button type="button" class="btn btn-info" @onclick="(() => NavigateToEditPage(vet.Id))">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" @onclick="(() => DeleteVet(vet.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}

<h3>Add Vet to Clinic</h3>

<EditForm class="container" Model="Vet" OnValidSubmit="AddVetToClinic">
    <FluentValidationValidator />
    <div class="form-group">
        <label for="name">Vet Name</label>
        <InputText id="name" @bind-Value="Vet.Name" placeholder="Vet Name" class="form-control" />
        <ValidationMessage For="@(() => Vet.Name)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="surname" class="label-space-top">Vet Surame</label>
        <InputText id="surname" @bind-Value="Vet.Surname" placeholder="Vet Surname" class="form-control" />
        <ValidationMessage For="@(() => Vet.Surname)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label class="label-space-top">Vet Birthdate</label>
        <DateInput @bind-Value="@Vet.Birthdate" class="form-control"></DateInput>
    </div>
    <div class="form-group">
        <label for="gender" class="label-space-top">Vet Gender</label>
        <div class="buttons">
            <div>
                <input type="radio" name="gender" id="gender" checked="@(Vet.Gender == "Male")" @onchange="@(() => Vet.Gender = "Male")" />
                Male
            </div>
            <div>
                <input type="radio" name="gender" id="gender" checked="@(Vet.Gender == "Female")" @onchange="@(() => Vet.Gender = "Female")" />
                Female
            </div>
            <div>
                <input type="radio" name="gender" id="gender" checked="@(Vet.Gender == "Other")" @onchange="@(() => Vet.Gender = "Other")" />
                Other
            </div>
            <ValidationMessage For="@(() => Vet.Gender)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="label-space-top">Vet Email</label>
        <InputText id="email" @bind-Value="Vet.Email" placeholder="Vet Email" class="form-control" />
        <ValidationMessage For="@(() => Vet.Email)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="phone" class="label-space-top">Vet Phone Number</label>
        <InputText id="phone" @bind-Value="Vet.Phone" placeholder="Vet Phone Number" class="form-control" />
        <ValidationMessage For="@(() => Vet.Phone)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label class="label-space-top">Vet Specialisation</label>
        <DropDownList DataSource="Specialisations" @bind-SelectedValues="Vet.Specialisation" />
    </div>

    <div class="row space-top space-bottom">
        <div class="col">
            <button type="submit" class="btn btn-success">Add Vet</button>
        </div>
    </div>
</EditForm>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateBack">Cancel and back</button>
    </div>
</div>