@page "/clinic/{ClinicId:guid}/vet/{VetId:guid}/appointments"

<style>
    th, td {
        vertical-align: middle;
        text-align: center
    }

    tbody > tr:hover > td {
        color: #000;
        background-color: #E2E3E5;
        border-color: #E2E3E5
    }

    #inner {
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .space-top {
        padding-top: 20px;
    }

    .space-botton {
        padding-bottom: 20px;
    }

    .label-space-top {
        padding-top: 10px;
    }

</style>

@if (AppointmentsToGet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel id="inner" class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Appointment Id</th>
                <th>Appointment VetId</th>
                <th>Appointment PetId</th>
                <th>Appointment ScheduledDate</th>
                <th>Appointment EstimatedDurationInMinutes</th>
                <th>Appointment TreatmentId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in AppointmentsToGet)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.VetId</td>
                    <td>@appointment.PetId</td>
                    <td>@DateTime.Parse(appointment.ScheduledDate).ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@appointment.EstimatedDurationInMinutes</td>
                    <td>@appointment.TreatmentId</td>
                </tr>
            }
        </tbody>
    </tabel>
}

<div class="row space-top space-botton">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateBack">Back</button>
    </div>
</div>