@page "/vetsoverview"

<style>
    th, td {
        vertical-align: middle;
        text-align: center
    }

    tbody > tr:hover > td {
        color: #000;
        background-color: #E2E3E5;
        border-color: #E2E3E5
    }

    #inner {
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .space-top {
        padding-top: 20px;
    }

    .space-botton {
        padding-bottom: 20px;
    }

    .label-space-top {
        padding-top: 10px;
    }

</style>
<h2 class="title-transition">Vets Overview</h2>
@if (Vets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel id="inner" class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Vet Id</th>
                <th>Vet Name</th>
                <th>Vet Surname</th>
                <th>Vet Birthdate</th>
                <th>Vet Gender</th>
                <th>Vet Email</th>
                <th>Vet Phone</th>
                <th>Vet Specialisation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vet in Vets)
            {
                <tr>
                    <td>@vet.Id</td>
                    <td>@vet.Name</td>
                    <td>@vet.Surname</td>
                    <td>@DateTime.Parse(vet.Birthdate).ToString("dd-MM-yyyy")</td>
                    <td>@vet.Gender</td>
                    <td>@vet.Email</td>
                    <td>@vet.Phone</td>
                    <td>@vet.Specialisation</td>
                </tr>
            }
        </tbody>
    </tabel>
}
