@page "/drugsoverview"

<style>
    th, td {
        vertical-align: middle;
        text-align: center
    }

    tbody > tr:hover > td {
        color: #000;
        background-color: #E2E3E5;
        border-color: #E2E3E5
    }

    #inner {
        display: table;
        margin: 0 auto;
        padding-bottom: 100px;
    }

</style>

<h2 class="title-transition">Drugs Overview</h2>
@if (DrugsToGet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel id="inner" class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Drug Id</th>
                <th>Drug Name</th>
                <th>Drug Quantity</th>
                <th>Drug Unit Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drug in DrugsToGet)
            {
                <tr>
                    <td>@drug.Id</td>
                    <td>@drug.Name</td>
                    <td>@drug.Quantity</td>
                    <td>@drug.UnitPrice</td>
                    <td><button type="button" class="btn btn-info" @onclick="(() => NavigateToEditPage(drug.Id))">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" @onclick="(() => DeleteDrug(drug.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </tabel>
}

<EditForm class="container" Model="Drug" OnValidSubmit="AddDrug">
    <FluentValidationValidator />
    <div class="form-group">
        <label for="name">Drug Name</label>
        <InputText id="name" @bind-Value="Drug.Name" placeholder="Drug Name" class="form-control" />
        <ValidationMessage For="@(() => Drug.Name)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="quantity">Drug Quantity</label>
        <InputNumber id="quantity" @bind-Value="Drug.Quantity" @bind-Value:format="F2" placeholder="Drug Quantity" class="form-control" />
        <ValidationMessage For="@(() => Drug.Quantity)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="price">Drug UnitPrice</label>
        <InputNumber id="price" @bind-Value="Drug.UnitPrice" @bind-Value:format="F2" placeholder="Drug Unit Price" class="form-control" />
        <ValidationMessage For="@(() => Drug.UnitPrice)"></ValidationMessage>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success">Add</button><br />
        </div>
    </div>
</EditForm>

