@page "/drug/{DrugId:guid}"

<PageTitle>Edit Drug</PageTitle>
<h3>Edit Drug</h3>

<tabel id="inner" class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>Drug Id</th>
            <th>Drug Name</th>
            <th>Drug Quantity</th>
            <th>Drug Unit Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@DrugId</td>
            <td>@DrugOld.Name</td>
            <td>@DrugOld.Quantity</td>
            <td>@DrugOld.UnitPrice</td>
        </tr>
    </tbody>
</tabel>

<EditForm class="container" Model="DrugToUpdate" OnValidSubmit="UpdateDrug">
    <FluentValidationValidator />
    <div class="form-group">
        <label for="name">Drug Name</label>
        <InputText id="name" @bind-Value="DrugToUpdate.Name" placeholder="Drug Name" class="form-control" />
        <ValidationMessage For="@(() => DrugToUpdate.Name)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="quantity">Drug Quantity</label>
        <InputNumber id="quantity" @bind-Value="DrugToUpdate.Quantity" @bind-Value:format="F2" placeholder="Drug Quantity" class="form-control" />
        <ValidationMessage For="@(() => DrugToUpdate.Quantity)"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="price">Drug UnitPrice</label>
        <InputNumber id="price" @bind-Value="DrugToUpdate.UnitPrice" @bind-Value:format="F2" placeholder="Drug Unit Price" class="form-control" />
        <ValidationMessage For="@(() => DrugToUpdate.UnitPrice)"></ValidationMessage>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success">Update</button><br />
        </div>
    </div>
</EditForm>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info" @onclick="NavigateBack">Cancel and back</button>
    </div>
</div>